<head>
    <script src="assets/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="assets/js/script.js"></script>



    <script src="assets/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="assets/js/vendor/jquery.visible.min.js"></script>
    <script src="assets/js/vendor/social-likes.min.js"></script>


    <link rel="stylesheet" type="text/css" href="assets/css/angular-material.min.css">
    <script src="assets/js/vendor/angular-material.min.js"></script>

    <script src="assets/js/script.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/views/controllers/helloController.js"></script>
    <script src="assets/views/controllers/blogConroller.js"></script>
</head>


<div class="jumbotron text-center" ng-controller="helloController" >
    <div id="content" style="color:white;">
        <div style="height: 1900px;background: rgba(0,0,0,.85);" >
            <div id="toDoList" style=" padding-top: 160px; text-align: center; font-family: 'Oswald', sans-serif;">
                <h1 style="font-size: 90px;
                               text-decoration: underline;
                               padding-bottom: 40px;">
                    To-Do List</h1>
                <div style="padding-bottom: 20px">
                    <input type="text" ng-model="newToDoListItem">
                    <button ng-click="addToList()" >Add</button>
                </div>
                <ul>
                    <li id="key-{{$index}}" ng-repeat="key in toDoList track by $index" style="display: none;">
                            <span ng-click="strike($index)" ng-style="key.style"
                                  style="font-size: 70px;
                                         padding-bottom: 20px;">
                                {{key.name}}</span>
                    </li>
                </ul>
            </div>

            <div id="aboutMe" style="display:none;">
                <p>Welcome to my life! I'm glad you could make it. Here's a little bit about me</p>
                <p>profile pic</p>
                <p>I am currently a fourth year student at University of California, San Diego(UCSD), joint-majoring in mathematics and computer science. My dream is to be a full stack software engineer. I aim to put put as much of myself into my work as possible; to write software that is a smooth experience for those that need it, and a lovely experience for those that stop and smell the flowers</p>
            </div>


            <div id="freeQuote" >

                <div id='fadeQuote'>
                    <p>"{{quote}}"</p>
                    <footer><cite>{{author}}</cite></footer>
                </div>

                <button id='quoteButton' ng-click='newQuote()' class="btn btn-primary">
                    New Quote
                </button>

                <a id='tweet-quote' target="_blank" href=''>
                    <br>
                    <button id='tweetButton' class="btn btn-primary">
                        Tweet
                    </button>
                </a>

            </div>




        </div>
    </div>
</div>