<head>
    <script src="assets/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="assets/js/vendor/jquery.visible.min.js"></script>
    <script src="assets/js/vendor/social-likes.min.js"></script>

    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-animate.min.js"></script>
    <script src="assets/js/vendor/angular-aria.min.js"></script>
    <script src="assets/js/vendor/angular-messages.min.js"></script>
    <script src="assets/js/vendor/angular-route.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/angular-material.min.css">
    <script src="assets/js/vendor/angular-material.min.js"></script>

    <script src="assets/js/script.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/views/controllers/helloController.js"></script>
    <script src="assets/views/controllers/blogConroller.js"></script>
    <script src="assets/views/controllers/moreController.js"></script>

</head>

<style>

    .experiences{

        width: 450px;
        height: 250px;
        display: block;

        border-style: solid;
        border-width: 1px;
        border-color: white;
        background: white;


    }

    .experienceContainer{




    }

    .experience{
        width: 100%;
        height: 100%;
        color: blue;
        text-align: center;
        display: none;


    }

    .fuck{
        width:304px;
        height:228px;

    }

    .skill {
        position: relative;
        opacity: 0;
        width: 150px;
    }


</style>




<div class="text-center" ng-controller="moreController" >
    <div class="content" style="color:white;">
        <div style="height: 1900px;background: rgba(0,0,0,.85);" >

            <div hide> hi</div>

            <div  layout='column' class="experienceContainer" layout-align="center center">


                <div layout="row">Experiences</div>
                <div  layout="row">
                    <label><input type="checkbox" ng-model="fadeDisable">Disable Hide</label>
                    <button ng-click="showAllExp()">Show All</button>
                </div>
                <div  layout-sm="row" layout-gt-sm="column">
                    <div layout-sm="column" layout-gt-sm='row' flex>
                        <div class='experiences'
                     ng-repeat="experience in experiences"
                     ng-if="$even"
                     style="

                            background: url({{experience.image}});
                            background-size: 450px;"
                     ng-mouseenter="expSlideIn($index,'fuck')"
                     ng-mouseleave="expSlideOut($index)">
                        <div class="experience experience-{{$index}}" style="background: url({{experience.blurry}}); background-size: 450px">
                                <div style="background: rgba(0, 0, 0,.9); height: 100%">
                                    <div class="exp-title">
                                        {{experience.title}}
                                    </div>
                                    <div class="exp-Description">
                                        {{experience.description}}
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    <div layout-sm="column" layout-gt-sm='row' flex>
                        <div class='experiences'
                         ng-repeat="experience in experiences"
                         ng-if="$odd"
                         style="
                            background: url({{experience.image}});
                            background-size: 450px;"
                         ng-mouseenter="expSlideIn($index, 'nigga')"
                         ng-mouseleave="expSlideOut($index)">
                        <div class="experience experience-{{$index}}" style="background: url({{experience.blurry}}); background-size: 450px">
                            <div style="background: rgba(0, 0, 0,.9); height: 100%">
                                <div class="exp-title">
                                    {{experience.title}}
                                </div>
                                <div class="exp-Description">
                                    {{experience.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>


                

            </div>

            <div layout='column' class="skillsContainer" layout-align="center center">
                <div layout="row" >

                    <div class="skill skill-{{$index}}" ng-repeat="skill in skills" style="text-align: center">
                        <p>{{skill.title}}</p>
                        <img src="{{skill.image}}" style="display: block; margin: auto;"/>

                        <p ng-repeat="bullet in skill.bulletPoints">{{bullet}}</p>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>



