<head>
    <script src="assets/js/vendor/jquery-2.1.3.min.js"></script>
    <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="assets/js/vendor/jquery.visible.min.js"></script>
    <script src="assets/js/vendor/social-likes.min.js"></script>

    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-animate.min.js"></script>
    <script src="assets/js/vendor/angular-aria.min.js"></script>
    <script src="assets/js/vendor/angular-messages.min.js"></script>
    <script src="assets/js/vendor/angular-route.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/angular-material.min.css">
    <script src="assets/js/vendor/angular-material.min.js"></script>

    <script src="assets/js/script.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/views/controllers/helloController.js"></script>
    <script src="assets/views/controllers/blogConroller.js"></script>
    <script src="assets/views/controllers/moreController.js"></script>

</head>

<style>

    .experiences {

        width: 450px;
        height: 250px;
        display: block;

        border-style: solid;
        border-width: 1px;
        border-color: white;
        background: white;

    }

    .experienceContainer {

    }

    .experience {
        width: 100%;
        height: 100%;
        color: blue;
        text-align: center;
        display: none;

    }

    .fuck {
        width: 304px;
        height: 228px;

    }

    .skill {
        position: relative;
        opacity: 0;
        width: 150px;
    }


</style>


<div class="text-center" ng-controller="moreController">
    <div class="content" style="color:white;">
        <div style="height: 2900px;background: rgba(0,0,0,.85);">

            <div hide> hi</div>

            <div>
                <div layout="row" class="aboutContainer" layout-align="center center">
                    <div layout="column" flex="75" layout-align="center center">

                        <div layout="row">About Me</div>
                        <div layout="row">Aspiring Software Engineer</div>
                        <div layout="row" layout-align="center center">

                            I am a graduatiing Math-Computer science major from UC San Diego. Currently, I am looking
                            for an internship or a full time role as a software engineer. My goal is to be a full stack
                            software engineer. I am interested in working on enterprise level applications, learning
                            about e-commerce platforms, and dealing with problems of scalability.

                        </div>
                    </div>
                </div>
                <div layout='column' class="experienceContainer" layout-align="center center">


                    <div layout="row">Experiences</div>
                    <div layout="row">
                        <label><input type="checkbox" ng-model="fadeDisable">Disable Hide</label>
                        <button ng-click="showAllExp()">Show All</button>
                    </div>
                    <div hidden
                    " layout-sm="row" layout-gt-sm="column">
                    <div layout-sm="column" layout-gt-sm='row' flex>
                        <div class='experiences experiences-{{$index}}'
                             ng-repeat="experience in experiences"
                             ng-if="$even"
                             style="

                                background: url({{experience.image}});
                                background-size: 450px;"
                             ng-mouseenter="expSlideIn($index,'fuck')"
                             ng-mouseleave="expSlideOut($index)">
                            <div class="experience experience-{{$index}}"
                                 style="background: url({{experience.blurry}}); background-size: 450px">
                                <div style="background: rgba(0, 0, 0,.9); height: 100%">
                                    <div class="exp-title">
                                        {{experience.title}}
                                    </div>
                                    <div class="exp-Description">
                                        {{experience.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout-sm="column" layout-gt-sm='row' flex>
                        <div class='experiences experiences-{{$index}}'
                             ng-repeat="experience in experiences"
                             ng-if="$odd"
                             style="
                                background: url({{experience.image}});
                                background-size: 450px;"
                             ng-mouseenter="expSlideIn($index, 'nigga')"
                             ng-mouseleave="expSlideOut($index)">
                            <div class="experience experience-{{$index}}"
                                 style="background: url({{experience.blurry}}); background-size: 450px">
                                <div style="background: rgba(0, 0, 0,.9); height: 100%">
                                    <div class="exp-title">
                                        {{experience.title}}
                                    </div>
                                    <div class="exp-Description">
                                        {{experience.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout='column' class="skillsContainer" layout-align="center center">
                    <div layout="row">
                        Skills
                    </div>
                    <div layout="row" flex>

                        <div class="skill skill-{{$index}}" ng-repeat="skill in skills" style="text-align: center">
                            <p>{{skill.title}}</p>
                            <img src="{{skill.image}}" style="display: block; margin: auto;"/>

                            <p ng-repeat="bullet in skill.bulletPoints">{{bullet}}</p>
                        </div>
                    </div>


                </div>

                <div layout='column' class="funContainer" layout-align="center center">
                    <div id="toDoList">
                        <h1 layout="row">To-Do List</h1>
                        <div layout="row">
                            <input type="text" ng-model="newToDoListItem">

                        </div>
                        <div layout="row">
                            <button ng-click="addToList()">Add</button>
                        </div>
                        <li layout='row' id="key-{{$index}}" ng-repeat="key in toDoList track by $index"
                            style="display: none;">
                            <span ng-click="strike($index)" ng-style="key.style">
                                {{key.name}}</span>
                        </li>
                    </div>
                    <div id='quoteMachine'>
                        <div id="fadeQuote">
                            <p layout="row">"{{quote}}"</p>
                            <footer layout="row">-{{author}}</footer>
                        </div>

                        <div layout="row">
                            <button id='quoteButton' ng-click='newQuote()'>
                                New Quote
                            </button>
                            <a id='tweet-quote' target="_blank" href=''>

                                <button id='tweetButton' class="btn btn-primary">
                                    Tweet
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div>
            <div layout="column" layout-align="center center">


            </div>


        </div>


    </div>


</div>


</div>
</div>
</div>



