
a {
    text-decoration: none;
    color: black;
}

.background {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1900px;
    border:0px;
    outline:0px;
}

#big {
    font-size: 72px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.74902);
    display: inline-block;
    margin: 10px 0px;
    overflow: hidden;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}

#header{
    position: relative;
    top: 25%;
    color: white;
    z-index: 3;
    text-align: center;
}