
a {
    text-decoration: none;
    color: black;
}

.background {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

.content{
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#big {
    font-size: 48px;
    font-weight: 300;
    display: inline-block;
    margin: 10px 0px;

}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}

#firstImpression{
    position: relative;
    color: white;
    z-index: 3;
    text-align: left;
}

#firstImpressionText{
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

nav {
    background: black; /* For browsers that do not support gradients */

    background: linear-gradient(to right, rgb(22, 22, 22), rgb(71, 71, 71)); /* Standard syntax */
    text-align: center;
    height: 45px;
    margin-bottom: -45px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(22, 22, 22, .75), rgba(71, 71, 71, .75)); /* Standard syntax */
    z-index: 100;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

nav > li {
    display: inline-block;
    font-size: 24px;
    margin: 10px 40px;
    color: white;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.small{
    padding-bottom: 5px;
}

nav li a {
    color: white;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

nav a:hover {
    text-shadow: 0 0 4px #ffffff;
}


#navPadder {
    margin-top: 45px;
}

section {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0px;
}

