
a {
    text-decoration: none;
    color: black;
}

.background {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1900px;
}

#big {
    font-size: 48px;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.74902);
    display: inline-block;
    margin: 10px 0px;
    overflow: hidden;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#firstImpression{
    position: relative;
    color: white;
    z-index: 3;
    text-align: center;
}

#firstImpressionText{
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

#funkyFont{
    font-family: 'Open Sans', sans-serif;

}

nav {
    background: red; /* For browsers that do not support gradients */

    background: linear-gradient(to right, rgb(76, 70, 70), rgb(133, 77, 135)); /* Standard syntax */
    text-align: center;
    height: 45px;
    margin-bottom: -45px;
}

nav > li {
    display: inline-block;
    font-size: 24px;
    margin: 10px 40px;
    color: white;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.small{
    padding-bottom: 5px;
}

nav li a {
    color: white;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

nav li a:hover {
    color: rgb(255, 254, 232);
}

#navPadder {
    margin-top: 45px;
}